.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;


}


.cabecalho {
    background-color: var(--cor-fundo-seg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: var(--letra-principal);
    font-size: 16px;
    font-weight: 400;

}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;

}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-fundo-seg);
}

.lista-menu__titulo {
    color: var(--cor-letra-titulo-menu);
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    
}

.container__titulo {
    display: none;

}

.menu__m {
    display: none;

}

.botao__opcoes {
    display: none;
}
 
.container__img-fav {
    display: block;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo-b {
        font-family: var(--fonte-segundaria);
        font-size: 30px;
    }
    
    .container__titulo {
        font-weight: 400;
        display: block;

    }

    .container__titulo-b {
        font-weight: 700;
    }

    .menu__m {
        display: flex;

    }

    .container__img-fav {
        display: none;
    }

    .menu__m-opcoes {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .menu__link-m {
        text-decoration: none;
        color: var(--cor-letra-preta);
    }

    .container_img-fav {
        display: none;
        
    }
}